@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,700')
@import '_constants'
@import 'nav'
@import 'parallax'
@import 'home'
@import 'pulse'
@import 'content'
    
html, body
    overflow: hidden
    margin: 0
    padding: 0
    width: 100%
    background-color: #1e1e1e
    font-family: 'Noto Serif', serif